<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">

            <!-- Nombre -->
            <div class="row mb-3">
                <label for="txtNombre" class="col-sm-3 col-form-label text-end">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                        id="txtNombre"
                        class="form-control"
                        placeholder="Nombre de usuario"
                        formControlName="nombre">
                    <span *ngIf="campoInvalido('nombre')"
                        class="form-text text-danger">
                        Debe ser en formato de nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label for="txtEmail" class="col-sm-3 col-form-label text-end">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                        id="txtEmail"
                        class="form-control"
                        placeholder="Correo electronico"
                        formControlName="email">
                    <span *ngIf="campoInvalido('email')"
                        class="form-text text-danger">
                        {{ emailErrorMsg }}
                    </span>
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label for="txtUsername" class="col-sm-3 col-form-label text-end">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                        id="txtUsername"
                        class="form-control"
                        placeholder="Username de acceso"
                        formControlName="username">
                    <span *ngIf="campoInvalido('username')"
                        class="form-text text-danger">
                        El username de acceso ya existe
                    </span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label for="txtPassword" class="col-sm-3 col-form-label text-end">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                        id="txtPassword"
                        class="form-control"
                        placeholder="Password de acceso"
                        formControlName="password">
                    <span *ngIf="campoInvalido('password')"
                        class="form-text text-danger">
                        La contraseña debe ser de al menos 6 caracteres
                    </span>
                </div>
            </div>

            <!-- Confirmar -->
            <div class="row mb-3">
                <label for="txtConfirmar" class="col-sm-3 col-form-label text-end">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                        id="txtConfirmar"
                        class="form-control"
                        placeholder="Confirmar de acceso"
                        formControlName="confirmar">
                    <span *ngIf="campoInvalido('confirmar')"
                        class="form-text text-danger">
                        Las contraseñas no coinciden
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="button"
                        class="btn btn-primary float-end"
                        [disabled]="miFormulario.pending"
                        (click)="guardar()">
                        Guardar
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>


<span>Valid</span>
<pre>{{ miFormulario.valid | json }}</pre>
<span>Status</span>
<pre>{{ miFormulario.status | json }}</pre>
<span>Pending</span>
<pre>{{ miFormulario.pending | json }}</pre>
<span>Errors</span>
<pre>{{ miFormulario.errors | json }}</pre>
<!-- <span>Pristine</span>
<pre>{{ miFormulario.pristine | json }}</pre>
<span>Touched</span>
<pre>{{ miFormulario.touched | json }}</pre>
<span>Value</span>
<pre>{{ miFormulario.value | json }}</pre> -->

<span>NOMBRE Errors</span>
<pre>{{ miFormulario.controls["nombre"].errors | json }}</pre>
<span>EMAIL Errors</span>
<pre>{{ miFormulario.controls["email"].errors | json }}</pre>
<span>USERNAME Errors</span>
<pre>{{ miFormulario.controls["username"].errors | json }}</pre>
<span>PASSWORD Errors</span>
<pre>{{ miFormulario.controls["password"].errors | json }}</pre>
<span>CONFIRMAR Errors</span>
<pre>{{ miFormulario.controls["confirmar"].errors | json }}</pre>


